body {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
h1 {
  color: #a06363;
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

li {
  list-style: decimal;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: x-large;
  background-color: #a06363;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
a:hover {
  background-color: #cb4a4a;
}
